.img {
  width: 100px;
  height: 100px;
  background-image: url(https://static.ohotniki.ru/upload/ohotniki/475/51/92/45/DETAIL_PICTURE_131024_66241044.jpg);
  background-size: cover;
  transition: 2s;
}

.onFoc {
  width: 200px;
  height: 200px;
  background-image: url(https://static.ohotniki.ru/upload/ohotniki/475/51/92/45/DETAIL_PICTURE_131024_66241044.jpg);
  background-size: cover;
  transition: 2s;
}
